<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Suite">
  <test thread-count="5" name="PlaceOrder">
    <classes>
      <class name="seleium.MavenScrach.PlaceOrder"/>
    </classes>
    </test> <!-- Test -->
     <test thread-count="5" name="ErrorValidation">
    <classes>
      <class name="seleium.MavenScrach.ErrorValidationsTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
